div#account {
    margin: 2em 4em;
}

h2 {
    border-bottom: 1px solid #BCBCBC;
    padding-left: .3em;
}

#account td.pl {
    padding-left: 35px;
}

#account .dashboard {
    padding-left: 1em;
    margin-bottom: 3em;
}

#account .dashboard h2 {
    margin-left: -1em;
}

#account .dashboard .control {
    margin-bottom: .3em;
}

#pi td {
    white-space: nowrap;
}

#qi #quotas, #qi #dirmonitors {
    margin: .3em 1em 1em;
}

#buttonsbar {
    margin-bottom: 1em !important;
}

table.data {
    width: 100%;
    border: 1px solid #BCBCBC;
    margin-bottom: 2em;
    clear: both;
}

table.data th, table.data td {
    border-bottom: 1px solid #BCBCBC;
    border-right: 1px solid #BCBCBC;
    padding: .4em .7em;
    margin: 0;
}

table.data th a {
    font-weight: bold;
}

table.data .sel {
    background-color: #FFFFB2;
}

table.data .nodata {
    text-align: center;
    vertical-align: middle;
    padding: 2em;
}

table.data .erasable {
    display: none;
}