body {
    color: #000;
    background: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 84%;
    margin: 0;
    padding: 0;
}

#header {
    min-height: 85px;
}

#header h1 {
    float: left;
    clear: both;
    font-size: 100%;
    font-weight: 300;
    line-height: 1.4;
    margin: 0;
}

#header .skip {
    position: absolute;
    top: auto;
    left: -10000px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

#content {
    clear: both;
}

#footer {
    clear: both;
}

#logo {
    border: 0 none;
}

#logininfo {
    float: right;
    text-align: right;
}

#last-login {
    font-weight: bold;
}

.wrapper {
    padding: 1em;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.4em;
}

h1, h2 {
    margin-top: 0;
}

.disabled, .disabled * {
    color: gray !important;
    cursor: default;
}

#viewpane {
    visibility: hidden;
}

.viewpane-toolbar {
    margin-top: 38px;
    overflow: auto;
    white-space: nowrap;
}

.viewpane-toolbar.inline {
    margin-top: 1em !important;
}

.toolbar-selection {
    float: left;
}

.toolbar-management {
    float: right;
    clear: none;
}

.toolbar-selection ~ .toolbar-selection {
    margin-top: .7em;
    clear: left;
}

.toolbar-management ~ .toolbar-management {
    margin-top: .7em;
    clear: right;
}

.viewpane-toolbar a[role=button] {
    margin-right: .7em;
    padding-left: .7em  !important;
    padding-right: .7em !important;
}
.grid-dropzone {
    color: #747474;
    border: 5px dashed #747474;
    font: bold 2.7em arial;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
}

.grid-dropzone.hover {
    background: #fff;
    z-index: 10000 !important;
    opacity: .7;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
}

.dropzone-wrap {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 10px 50px;
}
.dropzone-wrap .form-panel {
    width: 50%;
    max-width: 530px;
    margin: 0 auto;
}
.dropzone {
    color: #747474;
    border: 2px dashed #747474;
    border-radius: 15px;
    padding: 150px 0;
    outline: none;
}
.dropzone .filetoolbar {
    align-items: center;
    display: flex;
    flex-direction: column;
}
.dropzone .article {
    text-align: center;
    margin-top: 1.7em !important;
    font: bold 1.4em arial;
}
.dropzone.hover {
    background: #fff;
    z-index: 10000 !important;
    opacity: .7;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
}
.dropzone.hidden {
    z-index: -1;
    opacity: 0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
}

label em {
    color: #af0000;
    font-weight: bold;
}

input[type=text], input[type=password], select, textarea {
    border: 1px solid #E0DFE3;
    border-radius: 1px;
}

input[type=checkbox], input[type=radio] {
    /*position: relative;*/
    /*top: 2px;*/
}

input {
    font-family: Arial, Helvetica, sans-serif; /* IE width fix */
}

fieldset {
    clear: both;
    margin: 18px;
    padding: 12px 18px;
    border: 1px solid #DEDEDE;
}

fieldset.panel fieldset {
    margin: 12px 0;
}

fieldset legend {
    color: #222;
    font-weight: 600;
    font-size: 100%;
    text-transform: uppercase;
}

fieldset h6, .layout h6 {
    color: #222;
    font-weight: 700;
    font-size: 100%;
    margin: 0 0 1.7em 0;
    padding: 0;
}

fieldset h6 span, .layout h6 > span {
    display: block;
    font-weight: normal;
}

.layout h6 {
    margin: 1em 2em 0;
}
.layout h6 > span {
    font-size: small;
}

form div.row,
fieldset div {
    clear: both;
    overflow: hidden;
    vertical-align: bottom;
}

fieldset > div, fieldset dl.group dd {
    margin-bottom: 2px;
    line-height: 2;
}

fieldset div.pagination-info {
    clear: none;
}

form div.row > label,
fieldset label,
form div.row > dl.group dt,
fieldset dl.group dt {
    float: left;
    clear: left;
    width: 9em;
    min-width: 100px;
    white-space: nowrap;
    cursor: default;
}
form div.row > dl.group dd,
fieldset dl.group dd {
    margin-left: 9em;
}

fieldset dl.group {
    margin: 6px;
}

fieldset dl.group dd {
    min-height: 1.2em;
}

fieldset dl.group dt.checkbox {
    width: 13em;
}

fieldset dl.group label,
fieldset .checkbox label,
fieldset .radio label {
    float: none !important;
}
fieldset dl.group label,
fieldset .checkbox label,
fieldset .radio label,
fieldset input[type=checkbox],
fieldset input[type=radio] {
    margin-top: 0;
    vertical-align: middle;
    line-height: 16px;
    height: 16px;
}

form .checkbox,
fieldset .checkbox,
form .radio,
fieldset .radio {
    /*margin: 4px 0 !important;*/
    border: none !important;
}
fieldset.pane {
    border: none;
    margin: 0;
}
fieldset.noborder {
    border: none;
}
fieldset.small label, fieldset.small dl.group dt {
    width: 6em;
}

fieldset.large label, fieldset.large dl.group dt {
    width: 12em;
}

fieldset.large dl.group dd {
    margin-left: 12em;
}

fieldset.x-large label, fieldset.x-large dl.group dt {
    width: 16em;
}

fieldset.xx-large label, fieldset.xx-large dl.group dt {
    width: 19em;
}

fieldset.xxx-large label, fieldset.xxx-large dl.group dt {
    width: 21em;
}

.dialog {
    display: none;
}

.dialog fieldset.content {
    border: none;
    margin: 0;
}

.dialog fieldset h6, .dialog .layout h6 {
    border-bottom: 1px solid #DEDEDE;
    padding-left: 1em;
}

.dialog-details {
    display: none;
    height: 180px;
    border: 1px solid #C9C9C9;
    background-color: InfoBackground;
    overflow: auto;
    clear: both;
    padding: 1em;
}

span.highlight {
    background-color: #FF0;
}

.datagrid-findbar label {
    float: none !important;
    margin-right: 0.6em;
    margin-left: 5px;
}

.datagrid-findbar input {
    vertical-align: middle;
}

.datagrid-findbar input[type=search] {
    margin: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.datagrid-findbar input.query-invalid {
    background-color: #FCC;
}

.datagrid-findbar input[type=checkbox] {
    margin: 3px 3px 3px 4px;
}

.datagrid .row-title {
    font-weight: bold;
    font-size: 110%;
    margin: 2px 0;
}

.tooltip-right,
.tooltip-left {
    max-width: 35%;
}

.tooltip-title {
    font-size: 120%;
    font-weight: 500;
}

.tooltip-tip-black {
    min-width: 200px;
    max-width: 60%;
    line-height: 2 !important;
    color: #EEE !important;
    background-color: #444 !important;
    border-color: #222 !important;
    opacity: .95 !important;
    filter: alpha(opacity=95) !important;
}
.desc {
    font-size: 84%;
    color: #595959;
}

.themes-list {
    padding: 32px;
    background-color: #FFF !important;
    color: #1A1B1A !important;
    display: none;
}
.themes-wrap {
}
.themes-head {
    display: block;
    text-transform: capitalize;
    font-weight: bold;
    line-height: 2;
}
.themes-preview {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.theme-preview-box {
    padding-right: 16px;
}
.theme-preview-box label {
    display: block;
    width: 200px;
    border-radius: 3px;
    box-shadow: 0 0 0 1px #0004, 0 1px 1px 3px #eee;
    margin: 2px 4px 16px;
    padding: 0;
    overflow: hidden;
    cursor: pointer;
}

.theme-preview-header {
    height: 24px;
    line-height: 24px;
}
.theme-preview-content {
    position: relative;
    padding: 0;
    height: 100px;
    line-height: 100px;
}
.theme-preview-row:first-child {
    padding-top: 4px;
}
.theme-preview-row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 20px;
    padding: 0 12px;
}
.theme-preview-placeholder {
    border-radius: 3px;
    box-shadow: inset 0 0 0 6px;
    width: 100px;
    height: 6px;
}
.theme-preview-btn {
    border-radius: 5px;
    width: 20px;
    height: 10px;
    margin-left: auto;
    margin-top: auto;
}
.theme-preview-btn:last-child {
    margin-left: 4px;
}

.theme-preview-radio {
    display: flex;
    padding: 16px;
    font-size: 110%;
    font-weight: 700;
    line-height: 1.5;
}

.theme-preview-radio-text {
    padding-left: 10px;
}

.theme-color-picker {
    display: inline-block;
    margin: 6px 12px;
}
.theme-color-picker label {
    float: none !important;
}